<div class="container">
  <div class="row" *ngIf="listForm">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item" (click)="userData(data,i)" *ngFor="let data of list,let i=index">{{data.name}}</li>
      </ul>
      <button type="button" (click)="enableAdd()" class="btn btn-primary">Add</button>
    </div>
    <div *ngIf="hide" class="col-sm-8">
      <li class="list-group-item">{{employeeId}}</li>
      <li class="list-group-item">{{empSalary}}</li>
      <button type="button" class="btn btn-primary" (click)="editClick(list)">Edit</button>
      <button type="button" class="btn btn-secondary" (click)="deleteGetId()">Delete</button>
    </div>
  </div>


    <div *ngIf="addForm">
      <h2>Add User</h2>
      <form  #formAddData="ngForm" (ngSubmit)="addUser(formAddData)">
          <div class="form-group">
              <label for="pwd">Id:</label>
              <input type="text" class="form-control" id="id" placeholder="Enter Id" name="id">
            </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="name">Salary:</label>
          <input type="text" class="form-control" id="salary" placeholder="Enter salary" name="salary" [(ngModel)]="salary">
        </div>
        <div class="form-group">
          <label for="name">Employee Id:</label>
          <input type="name" class="form-control" id="empId" placeholder="Enter empId" name="empId" [(ngModel)]="empId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>  

    <div *ngIf="editForm">
      <h2>Edit User</h2>
      <form  #formAddData="ngForm" (ngSubmit)="editUser(fetchData)">
          <div class="form-group">
              <label for="pwd">Id:</label>
              <input type="text" class="form-control" id="id" placeholder="Enter Id" name="fetchData.id" [(ngModel)]="fetchData.id">
            </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" placeholder="Enter name" name="fetchData.name" [(ngModel)]="fetchData.name">
        </div>
        <div class="form-group">
          <label for="name">Salary:</label>
          <input type="text" class="form-control" id="salary" placeholder="Enter salary" name="fetchData.salary" [(ngModel)]="fetchData.salary">
        </div>
        <div class="form-group">
          <label for="name">Employee Id:</label>
          <input type="name" class="form-control" id="empId" placeholder="Enter empId" name="fetchData.empId" [(ngModel)]="fetchData.empId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>  

</div>